.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
  background: var(--link-color);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;

  transition: background-color 250ms var(--shadow);

  &:hover {
    border-radius: 4px;
    background-color: var(--bgc-btn);
  }

  &:focus {
    color: var(--primery-text-color);
    background: var(--link-color);
  }
}

// project

.btn__list {
    list-style: none;
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn__project {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 26px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    cursor: pointer;
    text-transform: capitalize;
    background: var(--button-color);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms var(--shadow), color 250ms var(--shadow);

    &:hover,
  &:focus {
    color: var(--primery-text-color);
    background: var(--link-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  }
  
  
  // modal

  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
  
    background: var(--primery-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    transition: fill 250ms var(--shadow);

    &:hover,
  &:focus {
    fill: var(--link-color);
    color: var(--link-color);
  }
  }
  
  .close-btn-icon:hover,
  .close-btn-icon:focus{
    fill: var(--link-color);
    color: var(--link-color);
  }
  

  .form-btn {
    display: block;
    font-family: "Roboto";
    font-size: 16px;
    line-height: calc(30 / 16);
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #ffffff;
    width: 200px;
    height: 50px;

    background: #2196f3;
    border-radius: 4px;
    padding: 0;
    margin: 0 auto;
    border: none;

    text-transform: capitalize;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--shadow);

    &:focus {
      color: var(--primery-text-color);
      background: var(--link-color);
    }
    
    &:hover {
      background-color: var(--bgc-btn);
    }
  }
  
  // footer

  .footer-btn {
    display: flex;
    justify-content: center;
    background-color: var(--link-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
    padding: 10px 28px;
    margin: 0;
    transition: background-color 250ms var(--shadow);

    &:focus {
      color: var(--primery-text-color);
      background: var(--link-color);
    }
    &:hover {
      background-color: var(--bgc-btn);
    }
    
  }
