.container {
    padding: 0 15px;
    margin: 0 auto;
    // width: 1200px;

     // mobile screen
   @media screen and (min-width: 480px){
    width: 480px;
    color: red;
  }

  // tablet screen
  @media screen and (min-width: 768px){
    width: 768px;
  }

  // desktop screen
  @media screen and (min-width: 1200px){
    width: 1200px;
  }
  }

  