// .hero {
//   // margin-left: auto;
//   // margin-right: auto;
//   // background-image: linear-gradient(
//   //     to right,
//   //     rgba(47, 48, 58, 0.4),
//   //     rgba(47, 48, 58, 0.4)
//   //   ),
//   //   url(../img/hero.jpg);
//   background-color: var(--line-background);
//     margin-top: 0;
//     box-sizing: border-box;
//     text-align: center;
//     align-items: center;
//     padding: 118px 0;

// @media screen and(min-width: $tablet) {
//   // width: 768px;
//   //       height: 400px;
//   //       margin-left: auto;
//   //       margin-right: auto;
//   //       background-image: linear-gradient(
//   //           to right,
//   //           rgba(47, 48, 58, 0.4),
//   //           rgba(47, 48, 58, 0.4)
//   //         ),
//   //         url(../img/hero.jpg);

//   background-color: var(--line-background);
//     margin-top: 0;
//     box-sizing: border-box;
//     text-align: center;
//     align-items: center;
//     padding: 118px 0;
// }


//   @media screen and(min-width: $desktop) {
//     // max-width: 1600px;
//     //     height: 636px;
//     //     margin-left: auto;
//     //     margin-right: auto;
//     //     background-image: linear-gradient(
//     //         to right,
//     //         rgba(47, 48, 58, 0.4),
//     //         rgba(47, 48, 58, 0.4)
//     //       ),
//     //       url(../img/hero.jpg);
//     max-width: 1600px;
//         height: 636px;
//     background-color: var(--line-background);
//     margin-top: 0;
//     box-sizing: border-box;
//     text-align: center;
//     align-items: center;
//     padding: 200px 0;
//   }
    
//   }
  
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px 200px 0px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
    max-width: 1600px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero_d@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero_d@2x.jpg);
  }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding: 118px 0px 118px 0px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero768.jpg);
    max-width: 768px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero{
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero_t@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero_t@2x.jpg);
  }
}
@media screen and (max-width: 1199px) {
  .hero-title {
    font-family: inherit;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin: auto;
    max-width: 360px;
  }
  .hero-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
  }
}
/* mobail */
@media screen and (max-width: 767px) {
  .hero {
    padding: 118px 0px 118px 0px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero480.jpg);
    max-width: 480px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero_m@1x.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 3), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 767px) and (min-resolution: 288dpi), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero_m@2x.jpg);
  }
}
  